body {
  background-color: black;
}
#cart-widget > span {
  color: white;
  background-color: black;
  padding: 0.1rem;
  font-weight: 700;
  border-radius: 0.5rem;
}

#container-item {
  text-align: center;
  margin-top: 2rem;
}

h1 {
  color: white;
}

.nav-bar {
  background-color: blueviolet;
}
.titulo-nav{
  font-weight: 800;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  color: white;
}
.tarjetas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}
.imagenes-productos{
  height: 27rem;
}
.producto-titulo {
  font-weight: 700;
}
.producto-imagen {
  height: 40rem;
  border-radius: 1.5rem;
}
.producto-descripcion {
  color: white;
  font-weight: 200;
  margin-top: 1rem;
}
.producto-detalle {
  color: white;
  font-weight: 600;
}
.count- {
  color: white;
  font-weight: 600;
  margin-right: 1rem;
  margin-top: 1rem;
}
.count-mas {
  color: white;
  font-weight: 600;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}
.type-count {
  width: 4rem;
  margin-top: 1rem;
}
button {
  background-color: blueviolet;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  border-color: white;
  height: 2.5rem;
}
.lista-cart{
  color: white;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 1rem;
  width: 15rem;
  height: 7rem;
  
}

.total-cart{
  color: rgb(0, 0, 0);
  font-weight: 700;
  background-color: white;
  width: 15rem;
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.x-cart{
  color:blueviolet;
  font-weight: 900;
  font-size: 1.5rem;
  list-style: none;
  margin-left: 11.5rem;
}
.btn-enviar{
  margin-left: 1rem;
  width: 5rem;
}
.btn-vaciar{
  margin-top: 1rem;
}
.form-cart{
  color: white;
  margin-top: 1rem;
}
input{
  margin-right: 1rem;
}
label{
  margin-right: 1rem;
}