body {
  /* background-color: black; */
}
#cart-widget > span {
  color: white;
  background-color: black;
  padding: 0.1rem;
  font-weight: 700;
  border-radius: 0.5rem;
}

#container-item {
  text-align: center;
  margin-top: 2rem;
}

h1 {
  color: white;
}

.nav-bar {
  background-color: blueviolet;
}
